.EventDialog{
    width: 100%;
}

.EventDialog img{
    object-fit: cover;
    object-position: 0 0;
}

.info{
    padding: 10px;
    height: 600px;
}

.details{
    border-radius: 3px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}
